<header class="heading">
  <div routerLink="/">
    <img src="assets/logo_oeil.png" alt="" />
  </div>
  <div>
    <nav class="navigation">
      <ul>
        <li routerLink="/">Home</li>
        <li>Projects</li>
        <li routerLink="/contact">Contact Me</li>
      </ul>
    </nav>
  </div>
  <div class="icons">
    <div>
      <i
        (click)="openLinkedin()"
        class="pi pi-linkedin"
        style="font-size: 2rem"
      ></i>
    </div>
    <div>
      <i
        (click)="openGithub()"
        class="pi pi-github"
        style="font-size: 2rem"
      ></i>
    </div>
    <div>
      <button
        routerLink="/resume"
        pButton
        pRipple
        type="button"
        label="Resume"
        class="p-button-outlined p-button-rounded p-button-success"
      ></button>
      <div class="burger-menu" (click)="toggleMenu()">
        <i *ngIf="!menuOpen" class="pi pi-bars" style="font-size: 2rem"></i>
        <i *ngIf="menuOpen" class="pi pi-times" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>
</header>
<div *ngIf="menuOpen" class="menu-wrapper">
  <ul class="menu">
    <li routerLink="/">Home</li>
    <li>Projects</li>
    <li routerLink="/contact">Contact Me</li>
  </ul>
</div>
