.banner {
  background-color: #5d5bab;
  padding: 15px 20px;
  &-intro {
    //background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      color: lightgray;
      font-size: 18px;
      font-weight: 700;
    }
    h1 {
      color: lightgray;
    }
    p {
      color: lightgray;
    }
  }
}
